.home {
    background-color: #f3f2ef;
    height: 100%;
    overflow-x: hidden;
}

.home__body_colorSelect{
    display: block;
    border: 0.5px solid;
    max-width: 600px;
    max-height: 300px;
    margin: 8px auto 8px auto;
    border-radius: 16px;
}

